/* App.css */
.envelope-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container to full viewport height */
}

.envelope-img {
  width: 1000px;
  height: auto;
  cursor: pointer;
}

.name-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: #000; /* Set text color to black */
  text-align: center;
}

