/* App.css */
.envelope-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Set the container to full viewport height */
}

.envelope-img {
  width: 80vw;
  /* Adjust width for smaller screens */
  margin-top: 5vh;
  /* Adjust margin for spacing */
}

.name-tag {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /* Responsive font size */
  text-align: center;
  /* Center text */
  margin-top: 5vh;
  color: rgb(111, 60, 58);
  font-family: 'MrsEavesRoman Regular';
}