.name-tag {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  /* Position the element at the vertical center */
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  /* Center the text */
  color: rgb(111, 60, 58);
  font-family: 'MrsEavesRoman Regular';
}


.language-buttons {
  position: absolute;
  bottom: 5vh;
  /* Adjust bottom positioning */
  left: 50%;
  transform: translateX(-50%);
}

/* Adjust envelope image margin */
.envelope-img {
  width: 80vw;
  margin-top: 5vh;
}